extends /site/detail

block instance
    -
        vefa
            .data({
                key: 'partner',
                title: 'partner',
                icon: "partners",
                impact_theme: "thm--partners",
                impact_color: "co--partners",

                ebr: 'evidence_base',
                services: 'service_categories',
                featured: 'featured_network'
            })

block premain
    div.detail-hdr(
        o-base="col--pStart ord--next"
        o-extended="row--pStart gxi--b"
    )
        include /posters/icon
            -
                vefa
                    .data(
                        { 
                            title: page.title.tag(),
                            icon: page.icon
                        }
                    )
                    .dom_mix({
                        element: {
                            class: `thm--texture-tint ${page.impact_color}`,

                        }
                    })


prepend asset_controls
    +if(`${page.program.io()}.all`)
        include /controls/action
            -
                vefa.data({
                    url: v(`${ page.program.io() }.all.0.get_absolute_url`),
                    label: 'Evidence-based Program',
                    icon: "programs"
                })
                .dom_mix({
                    element: {
                        class: "tx--small--f3--tcU rxn--ctrl-neutral",
                        "o-base": "iso--xEnd"
                    }
                })

append asset_controls
    +if(page.website.io())
        include /controls/action
            -
                vefa.data({
                    url: page.website.tag('linkable'),
                    label: `Website`,
                    external: true, 
                    icon: "link-ext"
                })
                .dom_mix({
                    element: {
                        class: "tx--small--f3--tcU rxn--ctrl-action",
                        "o-base": "iso--xEnd"
                    }
                })



block detail_a
    include /cards/data-list--inverse
        -
            vefa.
                data({
                    heading: "Partner Information",
                    items: [
                        ["heading", "Core Partner", page.is_core_partner.io()],
                        ["mixin", "Representative", "card_contact"],
                        ["group", "Tiers of Service", page.tiers_of_service.io(), "TiersOfService"],
                        ["group", "Organizational Reach", page.organizational_reach.io(), "Regions"],
                        ["group", "Setting", page.setting.io(), "Setting"],
                        ["mixin", "Associated Fees", "card_fees"]
                    ],
                })
        
        mixin card_contact
            p= page.contact_name.tag()
            p: i= page.contact_title.tag()
            a.tx--tdU.fx--shift(
                href=`mailto:${page.contact_email.tag()}`
            )
                = page.contact_email.tag()

        mixin card_fees
            +if(page.is_cost_free.io())
                p Free of Cost
                +else()
                    +if(page.cost_description.io())
                        p(
                            style="word-break:word"
                        )= page.cost_description.tag("safe")

        
    include /cards/data-list--inverse
        -
            vefa
                .data({
                    heading: "Student Demographics",
                    items: [
                        ["group", "Grade Level", page.grade.io(), "PartnerGrades"],
                        ["group", "Gender", page.gender.io(), 'Gender'],
                    ]
                })




block detail_b
    div(
        o-extended="row--pStart--sStart gxi--gs2 pad--x25 rhy--xStart50"
    )
        include /cards/ebr--alt
            - vefa.data({ ebr: page.ebr.io() })

        div(
            o-base="rhy--yStart100"
        )
            include /copy/card-lede
                -
                        vefa
                            .data({
                                heading: "Mission",
                                copy: page.mission.io()
                            })
                            .dom_mix({
                                hed: {
                                    class: page.impact_color
                                }
                            })
                            

            include /copy/card-lede
                -
                    vefa
                        .data({
                            heading: "Overview",
                            copy: page.overview.io()
                        })
                        .dom_mix({
                            hed: {
                                class: page.impact_color
                            }
                        })
        
        
    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart50 rhy--yStart100"
    )
        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Active In CIS Network",
                        heading_meta: "As reported in recent year's EOY data",
                        items: [
                            //- ["Test Link", "http://communities.org", "external_link"],
                            ["group", page.featured.io(), "featured-affiliates"],
                            ["group", page.network_use.io(), "affiliates"],
                        ], 
                    })
                    .dom({
                        svg: {
                            class: "ico--dx150"
                        }
                    })
                    .dom_mix({
                        featured_icon: {
                            class: page.impact_color
                        }
                    })
                    .options({
                        on_mount () {
                            this.data_mapper()
                            this.update_dom()
                            this.items.map(
                                (item) => {
                                    item.featured = (item.icon === "featured-affiliates")
                                    item.icon = "affiliates"
                                    item.item_verify = (!item.featured) ? `item not in ${ page.featured.io() }.all` : false
                                }
                            )
                        }
                    })

    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart50 rhy--yStart100"
    )
        include /cards/link-list--tagged
            -
                vefa
                    .data({
                        heading: "Additional Resources",
                        items: [
                            //- ["link", "Test Link", "http://communities.org", "link-ext", true, "External"],
                            ["group", page.webinars.io(), "webinar", true, "Webinar"],
                            ["group", page.presentations.io(), "presentation", true, "Presentation"],
                        ], 
                    })

    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart50 gxi--gs2"
    )   
        include /cards/core-services
            -
                vefa
                    .data({
                        heading: "CIS Core Service Categories",
                        services: page.services.io()
                    })  
