extends /site/detail

block instance
    -
        vefa
            .data({
                key: 'partner',
                title: 'partner',
                icon: "partners",
                impact_theme: "thm--partners",
                impact_color: "co--partners",

                ebr: 'evidence_base',
                services: 'service_categories',
                featured: 'featured_network'
            })

        //- cost: 'partner.is_cost_free',
        //- cost_desc: 'partner.cost_description',
        //- core_partner: 'partner.is_core_partner',


block premain
    div.detail-hdr(
        o-base="col--pStart ord--next"
        o-extended="row--pStart gxi--b"
    )
        include /posters/icon
            -
                vefa
                    .data(
                        { 
                            title: page.title.tag(),
                            icon: page.icon
                        }
                    )
                    .mixin({
                        element: {
                            class: `thm--texture-tint ${page.impact_color}`,

                        }
                    })

        //- include /cards/ebr
            - vefa.data({ ebr: page.ebr.io() })


block asset_controls
    div(
        o-base="row--pStart--sMiddle mod--balance"
    )
        +if(page.website.io())
            include /controls/action
                -
                    vefa.data({
                        url: page.website.io(),
                        label: `Website`
                    })
                    .define({
                        element: {
                            class: "tx--small--f3 rxn--ctrl-impt fx--shift"
                        }
                    })

        include /controls/download
            -
                vefa.data({
                    file: `../${page.id.tag()}.pdf`,
                    label: "Download PDF report",
                    name: page.title.tag()
                })
                .define({
                    element: {
                        class: "tx--small--f3 rxn--ctrl-download fx--shift"
                    }
                })



block detail_a
    include /cards/data-list--inverse
        -
            vefa.
                data({
                    heading: "Partner Information",
                    map: [
                        ["mixin", "Representative", "card_contact"],
                        ["text", "Core Partner", page.is_core_partner.io()],
                        ["group", "Tiers of Service", page.tiers_of_service.io(), "TiersOfService"],
                        ["group", "Organizational Reach", page.organizational_reach.io(), "Regions"],
                        ["group", "Setting", page.setting.io(), "Setting"],
                        ["mixin", "Associated Fees", "card_fees"]
                    ],
                })
        
        mixin card_contact
            p= page.contact_name.tag()
            p: i= page.contact_title.tag()
            a.tx--tdU.fx--shift(
                href=`mailto:${page.contact_email.tag()}`
            )
                = page.contact_email.tag()

        mixin card_fees
            +if(page.is_cost_free.io())
                p Free of Cost
                +else()
                    +if(page.cost_description.io())
                        p(
                            style="word-break:word"
                        )= page.cost_description.tag("safe")

        
    include /cards/data-list--inverse
        -
            vefa
                .data({
                    heading: "Student Demographics",
                    map: [
                        ["group", "Grade Level", page.grade.io(), "PartnerGrades"],
                        ["group", "Gender", page.gender.io(), 'Gender'],
                    ]
                })




block detail_b
    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart100 rhy--yStart100"
    )
        include /copy/card
            -
                    vefa
                        .data({
                            heading: "Mission",
                            copy: page.mission.io()
                        })
                        .mixin({
                            element: {
                                class: "thm--shade5 vx--z100",
                                "o-extended": "gxs--s2"
                            },
                            hed: {
                                class: page.impact_color
                            }
                        })
                        

        include /copy/card
            -
                vefa
                    .data({
                        heading: "Overview",
                        copy: page.overview.io()
                    })
                    .mixin({
                        element: {
                            class: "thm--shade5 vx--z100",
                            "o-extended": "gxs--s2"
                        },
                        hed: {
                            class: page.impact_color
                        }
                    })
        
        
        include /cards/core-services
            -
                vefa
                    .data({
                        heading: "CIS Core Service Categories",
                        services: page.services.io()
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })        

        
    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart100 rhy--yStart100"
    )
        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Partner Associations",
                        heading_meta: "As reported in recent year's EOY data",
                        links: [
                            //- ["Test Link", "http://communities.org", "external_link"],
                            ["group", page.program.io(), "National Program"],
                            ["group", page.featured.io(), "Featured Network"],
                            ["group", page.network_use.io(), "Affiliate", false, `not in ${ page.featured.io() }`],
                        ], 
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Additional Resources",
                        links: [
                            //- ["Test Link", "http://communities.org"],
                            ["group", page.webinars.io(), "Webinar", "external"],
                            ["group", page.presentations.io(), "Presentation", "external"],
                        ], 
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })
