extends /site/detail

block instance
    -
        vefa
            .data({
                key: 'partner',
                title: 'partner',
                icon: "partners",
                impact_theme: "thm--partners",
                impact_color: "co--partners",

                ebr: 'evidence_base',
                services: 'service_categories',
                featured: 'featured_network'
            })

        //- cost: 'partner.is_cost_free',
        //- cost_desc: 'partner.cost_description',
        //- core_partner: 'partner.is_core_partner',


block premain
    div.detail-hdr(
        o-extended="row--pStart gxi--b"
    )
        include /posters/icon
            -
                vefa
                    .data(
                        { 
                            title: page.title.tag(),
                            icon: page.icon
                        }
                    )
                    .mixin({
                        element: {
                            class: `thm--texture-tint ${page.impact_color}`,

                        }
                    })

        include /cards/ebr
            - vefa.data({ ebr: page.ebr.io() })


block detail_a
    include /cards/data-list
        -
            vefa.
                data({
                    heading: "Partner Information",
                    map: [
                        ["mixin", "Representative", "card_contact"],
                        ["text", "Core Partner", page.is_core_partner.io()],
                        ["iterator", "Tiers of Service", page.tiers_of_service.io(), "TiersOfService"],
                        ["iterator", "Organizational Reach", page.organizational_reach.io(), "Regions"],
                        ["iterator", "Setting", page.setting.io(), "Setting"],
                        ["mixin", "Associated Fees", "card_fees"]
                    ],
                    style: "alternate"
                })
                .define({
                    element: {
                        "o-base": "col--pStart iso--yStart25"
                    },
                    hdr: {
                        "o-base": "pad--x25 pad--y25",
                        "o-condensed": "pad--x50"
                    },
                    hed: {
                        class: "tx--subhed--f1--100--aa"
                    },
                    bd: {
                        "o-base": ""
                    },
                    list: {
                        "o-base": "mod--balance rhy--yStart25",
                        "o-extended": "gx--i3--gxy10 mod--static rhy--yStart0"
                    },
                    data_key: {
                        class: "thm--shade40 tx--small--f3--tcU",
                        "o-base": "pad--xy25",
                        "o-condensed": "pad--x50"
                    },
                    data_value: {
                        class: "thm--tint10 tx--f3",
                        "o-base": "col--pStart--sStart pad--xy25",
                        "o-condensed": "pad--x50 gxs--s2"
                    },
                })
        
        mixin card_contact
            p= page.contact_name.tag()
            p: i= page.contact_title.tag()
            a.tx--tdU.fx--shift(
                href=`mailto:${page.contact_email.tag()}`
            )
                = page.contact_email.tag()
            a.tx--tdU.fx--shift(
                href=`${page.website.tag()}`
                target="_blank"
                rel="noopener"
            ) Website

        mixin card_fees
            +if(page.is_cost_free.io())
                p Free of Cost
                +else()
                    +if(page.cost_description.io())
                        p(
                            style="word-break:word"
                        )= page.cost_description.tag("safe")

        
    include /cards/data-list
        -
            vefa
                .data({
                    heading: "Student Demographics",
                    map: [
                        ["iterator", "Grade Level", page.grade.io(), "PartnerGrades"],
                        ["iterator", "Gender", page.gender.io(), 'Gender'],
                    ],
                    style: "alternate"
                })
                .define({
                    element: {
                        "o-base": "col--pStart iso--yStart25"
                    },
                    hdr: {
                        "o-base": "pad--x25 pad--y25",
                        "o-condensed": "pad--x50"
                    },
                    hed: {
                        class: "tx--subhed--f1--100--aa"
                    },
                    bd: {
                        "o-base": ""
                    },
                    list: {
                        "o-base": "mod--balance rhy--yStart25",
                        "o-extended": "gx--i3--gxy10 mod--static rhy--yStart0"
                    },
                    data_key: {
                        class: "thm--shade40 tx--small--f3--tcU",
                        "o-base": "pad--xy25",
                        "o-condensed": "pad--x50"
                    },
                    data_value: {
                        class: "thm--tint10 tx--f3",
                        "o-base": "col--pStart--sStart pad--xy25",
                        "o-condensed": "pad--x50 gxs--s2"
                    },
                })




block detail_b
    div(
        o-base="col--pStart rhy--yStart100"
    )
        include /copy/card
            -
                    vefa
                        .data({
                            heading: "Mission",
                            copy: page.mission.io()
                        })
                        .mixin({
                            element: {
                                class: "thm--shade5",
                                "o-extended": "gxs--s2"
                            },
                            hed: {
                                class: page.impact_color
                            }
                        })

        include /copy/card
            -
                vefa
                    .data({
                        heading: "Overview",
                        copy: page.overview.io()
                    })
                    .mixin({
                        element: {
                            class: "thm--shade5",
                            "o-extended": "gxs--s2"
                        },
                        hed: {
                            class: page.impact_color
                        }
                    })
        
        

        
    div(
        o-base="col--pStart rhy--yStart100"
    )
        include /cards/core-services
            -
                vefa
                    .data({
                        heading: "CIS Core Service Categories",
                        services: page.services.io()
                    })
                    
        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Partner Associations",
                        links: [
                            //- ["Test Link", "http://communities.org", "external_link"],
                            ["National Program", page.program.io()],
                            ["Featured Network", page.featured.io()],
                        ], 
                        as_internal: ["National Program", "Featured Network"],
                        as_group: ["National Program", "Featured Network"],
                    })

        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Additional Resources",
                        links: [
                            //- ["Test Link", "http://communities.org"],
                            ["Webinar", page.webinars.io()],
                            ["Presentation", page.presentations.io()]
                        ], 
                        as_external: ["Test Link", "Webinar", "Presentation"],
                        as_group: ["Webinar", "Presentation"],
                    })
