mixin if(evl)
    if shopify || django
        != _tag( "if", evl)
        block
        != _endtag("if")
    
    else if evl
        block

mixin else()
    if shopify || django
        != _tag("else")
        block

mixin ifequal(evl_1, evl_2)
    if shopify || django
        != _tag( "ifequal", `${ evl_1 } ${ evl_2 }`)
        block
        != _endtag("ifequal")
    
    else if evl_1 ==evl_2
        block

mixin for(evl)
    if shopify || django
        != _tag( "for", evl)
        block
        != _endtag("for")
    else if evl
        block

mixin empty()
    if shopify || django
        != _single( "empty" )
        block

mixin super()
  = v("block.super")


mixin comment
    if django
        != _tag( "comment")
        block
        != _endtag("comment")


mixin csrf
  != _single("csrf_token")


mixin with(exp)
    if django
        != _tag( "with", exp)
        block
        != _endtag("with")


mixin load(expression)
    if django
        != _single( "load", `${ expression }` )

mixin include(expression)
    if django
        != _single( "include", `'${ expression }.html'` )

mixin dynamic_include(path, file_var)
    if django
        != _tag( "with", `template_name='${ path }'|add:${ file_var}|add:'.html'`)
        != _single( "include", `''|add:template_name` )
        != _endtag("with")

mixin when(expression)
    != _single( "when", `"${ expression }"` )

mixin cycle(expression)
    != _single( "cycle", `${ expression }` )

mixin resetcycle()
    != _single( "resetcycle")

//- ---------------------------------------------
//- SHOPIFY
//- ---------------------------------------------
mixin layout(expression)
    if shopify
        != _single( "layout", `"${ expression }"` )

mixin snippet(expression)
    != _single( "include", `"${ expression }"` )

mixin unless(expression)
    != _tag( "unless", `"${ expression }"` )
    block
    != _endtag("unless")

mixin case(expression)
    != _tag( "case", `"${ expression }"` )
    block
    != _endtag("case")


mixin assign(expression)
    if shopify
        != _single( "assign", `${ expression }` )


mixin capture(expression)
    if shopify
        != _tag( "capture", `"${ expression }"` )
        block
        != _endtag("capture")
