if item
    article.card--affiliate(
        o-base="col--pStart"
    )   
        header(
            o-base="pad--x50"
            o-extended="pad--y25"
        )
            h4.tx--subhed--f1
                a.co--pri.fx--shift(
                    href=v(item.slug)
                )
                    = v(item.name)

        footer(
            o-base="row--pStart pad--x50 pad--y50 iso--yStart100"
        )
            -
                ctrl = new Vefa()
                    .replace({
                        element: {
                            class: "ctrl--action tx--small--f1--tcU--100 rxn--ctrl-impt fx--shift",
                            "o-base": "pad--y25 pad--x50 rhy--xStart25 ico--sm",
                            "o-standard": ""
                        }
                    })
                    .data({
                        url: item.slug,
                        label: "View Profile"
                    })
            include /controls/link     
