extends _abstract

block subclass
    -
        vefa.define("card--coreservices")
            .data({
                services: "service_categories"
            })
            .computed({
                icons () {
                    return `item in ${this.services}`
                }
            })
            .dom_mix({
                element: {
                    class: "vx--z100",
                },
                icon_list: {
                    "o-base": "mod--balance rhy--yStart25",
                    "o-condensed": "gx--i2--gxy10 rhy--yStart0",
                    "o-standard": "gx--i1--gxy25",
                    "o-enhanced": "gx--i2--gxy10",
                    "o-extended": "gx--i1--gxy25",
                    "o-full": "gdx--gc5--grAuto--gxy10",
                },
                list_item: {
                    class: "thm--tint70",
                    "o-base": "row--pStart"
                },
                icon: {
                    class: "ico--xl",
                    "o-base": "col--pMiddle--sMiddle--xAuto mod--static pad--xy25"
                },
                label: {
                    class: "tx--small--f2 hl--xy--bTint hl--xStart0",
                    "o-base": "col--pMiddle--sStart mod--balance pad--xy25"
                }
            })
            .options({
                on_mount () {
                    this.dom_mix({
                        hdr: {
                            class: this.impact_theme
                        },
                        bd: {
                            class: "thm--shade15"
                        },
                        icon: {
                            class: this.impact_theme
                        },
                    })
                }
            })


block content
    ul&attributes(card.icon_list)
        
        +for(card.icons)
            li.thm--tint70.hl--yEnd--bCurrent(
                class=card.impact_color
                o-base="col--pMiddle--sMiddle pad--xy50 rhy--yStart50"
                style="border-width: 2px"
            )
                //- &attributes(card.list_item)
                div.co--minor
                    svg.ico--dx250
                        use(href=`#ico--${ v("item") }`)
                    
                //- div&attributes(card.label)
                span.tx--f3--100--taMiddle.co--copy
                    = v( 'item', "choice_display:'CoreServices'" )
