extends _abstract

block subclass
    -
        vefa.define("card--ebr")
            .data({
                ebr: bus.get("ebr") || 'T1'
            })



block view
    +load("choice_tags")
    
    article.thm--dark(
        class=card.class
        o-base="col--pStart mod--balance pos--rel"
    )
        header.card-hdr.thm--shade80(
            o-base="ord--start"
        )
            h5.tx--small--f1--100--tcU--taMiddle.thm--tint25(
                o-base="pad--x25 pad--y10"
                o-condensed="pad--x50 pad--y25"
            ) Tier of Evidence
        
        +if(`${ card.ebr } != ''`)
            .card-bd.thm--shade80.ord--end(
                o-base="row--pMiddle--sMiddle mod--balance pad--x50 pad--yEnd50"
            )
                svg.ico.ico--ebr
                    use(
                        xlink:href=`#ico--ebr-${v(card.ebr)}`
                    )

            footer.card-ftr.tx--f1--100--tcU--ls100--taMiddle.thm--shade80.ord--next(
                o-base="pad--x25 pad--y10"
                o-condensed="pad--x50 pad--y25"
            )
                = v(card.ebr, "choice_display:'TiersOfEvidence'")
            
            +else()
                .card-bd.thm--shade80.ord--end(
                    o-base="col--pMiddle--sMiddle mod--balance pad--x50 pad--yEnd50"
                )
                    h5.tx--display--f1 N/A
                    p.tx--chrome--f3 Not yet graded.
        
        slideover.ord--end
        
            svg.ico--s.ico--info(
                slot="activate"
            )
                use(href="#ico--info")

            .bd(
                v-cloak
                slot="content"
                o-base="col--pMiddle--sMiddle rhy--yStart50"
            )
                h6.tx--maj--f1--100--taMiddle How do we determine our Tiers&nbsp;of&nbsp;Evidence?
                include /controls/download
                    -
                        vefa.data({
                            label: "Download PDF",
                            file: static("res/Determining_Evidence-Base_Cheat_Sheet.pdf"),
                            name: "Determining Evidence-Base Cheat Sheet"
                        })
