extends _abstract

block subclass
    -
        vefa.define({
            class: "card--ebr",
            data: {
                ebr: ""
            }
        })

        if (Vefa.has_bus("ebr")) {
            vefa.data({
                "ebr": Vefa.get_bus("ebr")
            })
        }



block view
    +load("choice_tags")
    
    article.thm--dark(
        class=card.class
        o-base="col--pStart mod--balance pos--rel"
    )
        header.card-hdr.thm--shade80(
            o-base="ord--start"
        )
            h5.tx--small--f1--100--tcU--taMiddle.thm--tint25(
                o-base="pad--x25 pad--y10"
                o-condensed="pad--x50 pad--y25"
            ) Tiers of Evidence
        
        +if(`${ card.ebr } != ''`)
            .card-bd.thm--shade80.ord--end(
                o-base="row--pMiddle--sMiddle mod--balance pad--x50 pad--yEnd50"
            )
                svg.ico.ico--ebr
                    use(
                        xlink:href=`#ico--ebr-${v(card.ebr)}`
                    )

            footer.card-ftr.tx--f1--100--tcU--ls100--taMiddle.thm--shade80.ord--next(
                o-base="pad--x25 pad--y10"
                o-condensed="pad--x50 pad--y25"
            )
                = v(card.ebr, "choice_display:'TiersOfEvidence'")
            
            +else()
                .card-bd.thm--shade80.ord--end(
                    o-base="col--pMiddle--sMiddle mod--balance pad--x50 pad--yEnd50"
                )
                    h5.tx--display--f1 N/A
                    p.tx--chrome--f3 Not yet graded.
        
        slideover.ord--end
        
            svg.ico--s.ico--info(
                slot="activate"
            )
                use(href="#ico--info")

            .bd(
                v-cloak
                slot="content"
                o-base="col--pMiddle--sMiddle rhy--yStart50"
            )
                h6.tx--maj--f1--100--taMiddle How do we determine our Tiers&nbsp;of&nbsp;Evidence?
                include /controls/download
                    -
                        vefa.data({
                            label: "Download PDF",
                            file: static("res/Determining_Evidence-Base_Cheat_Sheet.pdf"),
                            name: "Determining Evidence-Base Cheat Sheet"
                        })
                                //- ""
        //- .thm--shade90.ord--end.pos--abs--xy(
        //-     o-base="col--pMiddle--sMiddle pad--xy50 rhy--yStart50"
        //- )
        //-     svg.ico.ico--close(
        //-         o-base="pos--abs"
        //-     )
        //-         use(href="#ico--close")
            
        

        //- //- modal
        

        
        


//- article.card--ebr.thm--shade80(
//-     o-base="col--pStart"
//- )
//-     h5.thm--tint25.tx--small--f1--100--tcU--taMiddle(
//-         o-base="pad--x25 pad--y10"
//-         o-condensed="pad--x50 pad--y25"
//-     ) Tiers of Evidence
    
//-     footer.tx--f1--100--tcU--ls100--taMiddle(
//-         o-base="pad--x25 pad--y10"
//-         o-condensed="pad--x50 pad--y25"
//-     )
//-         if django
//-             for choice, index in choices.evidence
//-                 +if(`${ card.ebr }|last == '${ index }'`)
//-                     = choice
//-         else
//-             = choices.evidence_tier[card.ebr]

//-     div(
//-         o-base="row--pMiddle--sMiddle mod--balance pad--xy50"
//-     )
//-         svg.ico.ico--ebr
//-             use(
//-                 xlink:href=`#ico--ebr-${v(card.ebr, 'last')}`
//-             )
