if item
    article.card--partner(
        o-base="col--pStart"
    )   
        header(
            o-base="pad--x50"
            o-extended="pad--y25"
        )
            h4.tx--subhed--f1
                a.co--pri.fx--shift(
                    href=v(item.slug)
                )
                    = v(item.name)

        .bd.copy.tx--small--f2(
            o-base="mod--balance pad--x50 pad--y50"
        )
            != markdown(item.mission)

        footer(
            o-base="row--pStart pad--x50 pad--y50 iso--yStart100"
        )
            -
                ctrl = new Vefa()
                    .replace({
                        element: {
                            class: "ctrl--action tx--small--f1--tcU--100 rxn--ctrl-impt fx--shift",
                            "o-base": "pad--y25 pad--x50 rhy--xStart25 ico--sm",
                            "o-standard": ""
                        }
                    })
                    .data({
                        url: item.slug,
                        label: "View Profile"
                    })
            include /controls/link         

//-         if item.reach
//-             h5.meta.thm--shade.tx--chrome--f3--tcU--900--ls100(
//-                 o-base="gxi--b row--pMiddle--sMiddle pad--x50 pad--y25"
//-             )
//-                 = choices.regions[item.reach]

//-         if item.tiers
//-             .meta.thm--partners(
//-                 o-base="gxi--c row--pGrid"
//-             )
//-                 h5.tx--chrome--f3--tcU--100--ls100(
//-                     o-base="mod--balance--aMiddle pad--x50 pad--y25"
//-                 ) Tiers:                                   
                
//-                 ul(
//-                     o-base="row--pStart--xAuto mod--fit"
//-                 )
//-                     for tier in item.tiers
//-                         li.tx--f1--100.thm--shade(
//-                             o-base="row--pMiddle--sMiddle--xAuto mod--static pad--x50 pad-y25"
//-                         )= choices.service_tier[tier]




        
//-         aside.meta.thm--texture(
//-             o-base="col--pStart gxi--g gx--i3"
//-         )
//-             dl.thm--shade(
//-                 o-base="mod--balance"
//-             )    
//-                 dt.thm--tint.tx--chrome--f3--tcU--900(
//-                     o-base="pad--x50 pad--y25"
//-                 ) Grade
//-                 for grade in item.grade
//-                     dd.tx--small(
//-                         o-base="pad--x50 pad--y10"
//-                     )= choices.grades[grade]

//-             dl.thm--shade(
//-                 o-base="mod--balance"
//-             )    
//-                 dt.thm--tint.tx--chrome--f3--tcU--900(
//-                     o-base="pad--x50 pad--y25"
//-                 ) Setting
//-                 for i in item.setting
//-                     dd.tx--small(
//-                         o-base="pad--x50 pad--y10"
//-                     )= choices.setting[i]
            
//-             dl.thm--shade(
//-                 o-base="mod--balance"
//-             )    
//-                 dt.thm--tint.tx--chrome--f3--tcU--900(
//-                     o-base="pad--x50 pad--y25"
//-                 ) Gender
//-                 dd.tx--small(
//-                     o-base="pad--x50 pad--y10"
//-                 ) Both
//-                 dt.thm--tint.tx--chrome--f3--tcU--900(
//-                     o-base="pad--x50 pad--y25"
//-                 ) Cost
//-                 dd.tx--small(
//-                     o-base="pad--x50 pad--y10"
//-                 )= item.free_cost
//-                 dt.thm--tint.tx--chrome--f3--tcU--900(
//-                     o-base="pad--x50 pad--y25"
//-                 ) Network Use:
//-                 dd.tx--small(
//-                     o-base="pad--x50 pad--y10"
//-                 )= item.network_use

//-         .meta.thm--dark(
//-             o-base="gxi--e row--pStart"
//-         )
//-             if item.student_need
//-                 div(
//-                     o-base="row--pStart gx--i3 mod--balance rhy--xStart50"
//-                 )
//-                     h5.tx--chrome--f3--tcU--900.thm--shade(
//-                         o-base="row--pStart--sMiddle--xAuto mod--static pad--x50 pad--y25"
//-                     ) Student Needs
//-                     ul(
//-                         o-base="row--pStart--sMiddle--xAuto gxi--s2 mod--balance pad--y25 rhy--xStart50"
//-                     )
//-                         for i in item.student_need
//-                             li.tx--display
//-                                 include /icons/programs
//-         .meta.thm--dark(
//-             o-base="gxi--f row--pStart"
//-         )
//-             if item.core_services
//-                 div.thm--shade(
//-                     o-base="row--pStart gx--i3 mod--balance rhy--xStart50"
//-                 )
//-                     h5.tx--chrome--f3--tcU--900.thm--shade(
//-                         o-base="row--pStart--sMiddle--xAuto mod--static pad--x50 pad--y25"
//-                     ) Core Services:
//-                     ul(
//-                         o-base="row--pStart--sMiddle--xAuto gxi--s2 mod--balance pad--y25 rhy--xStart50"
//-                     )
//-                         for i in item.core_services
//-                             li.tx--display
//-                                 include /icons/programs
//-         //- div
//-         //-     = item.setting
//-         //-     = item.network_use
//-         //-     = item.free_cost


//-         //- header(
//-         //-     o-base="col--pStart gxi--a pad--x50 pad--yStart25 rhy--yStart25"
//-         //-     o-extended="col--pStart pad--y50"
//-         //- )
//-         //-     h4.tx--f1--100hl--yEnd
//-         //-         a.co--pri.fx--shift(
//-         //-             href=v(item.slug)
//-         //-         )
//-         //-             = v(item.name)
            
//-         //-     if item.core_services
//-         //-         ul.tx--small--900.co--minor(
//-         //-             o-base="matrix--pStart rhy--xStart25"
//-         //-         )
//-         //-             for service in item.core_services
//-         //-                 li(
//-         //-                     o-base="mod--static"
//-         //-                 )= `${ core_services[service] }, `

//-         //- if item.reach
//-         //-     small.thm--shade.tx--chrome--f3--tcU--900--ls100(
//-         //-         o-base="gxi--c row--pStart--sMiddle pad--x50 pad--y25"
//-         //-     )
//-         //-         = item.reach
        
        
//-         //- -
//-         //-     ctrl = new Vefa()
//-         //-         .define({
//-         //-             element: {
//-         //-                 class: "ctrl--action tx--chrome--f3--tcU rxn--ctrl-action fx--shift",
//-         //-                 "o-base": "gxi--d row--pMiddle--sMiddle--xAuto mod--balance pad--y25 pad--x50 rhy--xStart25 ico--sm",
//-         //-                 "o-standard": "row--pEnd--sMiddle--xRev rhy--xEnd25 rhy--xStart0"
//-         //-             }
//-         //-         })
//-         //-         .data({
//-         //-             url: item.slug,
//-         //-             label: "Profile"
//-         //-         })
//-         //- include /controls/link
//-         //-     include /icons/add

//-         //- -
//-         //-     ctrl = new Vefa()
//-         //-         .define({
//-         //-             element: {
//-         //-                 class: "ctrl--action tx--chrome--f3--tcU rxn--ctrl-neutral fx--shift",
//-         //-                 "o-base": "gxi--e row--pMiddle--sMiddle pad--y25 pad--x50 rhy--xStart25 ico--sm",
//-         //-                 "o-standard": ""
//-         //-             }
//-         //-         })
//-         //-         .data({
//-         //-             target: "_blank",
//-         //-             url: item.url,
//-         //-             label: "Website"
//-         //-         })
//-         //- include /controls/link
//-         //-     include /icons/link-ext
