extends _abstract

block subclass
    -
        vefa.define({
            class: "card--result",
            data: {
                key: "program",
                title: "'Result Title'",
                overview: "Result Overview",
                labels: {
                    network_yes: true,
                    network_no: false
                },
            },
            methods: {
                toString () { return (this.key) ? this.key : this }
            },
            element: {
                "o-base": "col--pStart mod--balance",
            },
        })


block view
    - proxy()

    dl(
        class=card.class
    )&attributes(card.element)
        
        block result_title
            dt.gxi--title.thm--shade10(
                o-base="row--pStart"
            )
                a.co--pri.rxn--tint50.fx--shift(
                    href=card.slug.tag()
                    o-base="row--pStart--sMiddle mod--balance pad--x25 pad--y10 rhy--xStart"
                    o-standard="pad--x50"

                )
                    h4.tx--subhed--f1--100
                        = card.title.tag()
            


        block result_overview
        block result_services
        block result_network
        block result_tier
        block result_ebr                    
        block result_state
        block result_students
        block result_budget
