extends /results/_abstract

block model
    if item
        -
            result
                .data({
                    title: item.name,
                    slug: '/affiliates/affiliates_detail',
                    overview: true,
                    state: item.state,
                    location: item.location,
                    students: item.total_students,
                    budget: item.budget
                })
    
            
    if django
        -
            result
                .data({
                    title: 'affiliate',
                    slug: 'affiliate.get_absolute_url',
                    state: 'affiliate.state',
                    location: 'affiliate.affiliate_location',
                    students: 'affiliate.current_data.calculated_total_enrollment',
                    budget: 'affiliate.current_data.budget_total'
                })
                .instance({
                    class: "gx--result-affiliate"
                })

block result_network

block result_title
    dt.gxi--title.thm--shade10(
        o-base="row--pStart"
    )
        a.co--pri.rxn--tint50.fx--shift(
            href=result.data.slug
            rel="noopener"
            o-base="row--pStart--sMiddle mod--balance pad--x50 pad--y10 rhy--xStart"
        )
            h4.tx--f1--100(
                o-enhanced="tx--subhed--f1--100"
            )
                = v(result.data.title)

block result_overview
    dd.gxi--profile
        -
            ctrl = new Vefa()
                .data({
                    url: result.data.slug,
                    label: "View Profile"
                })
        include /controls/action
