extends /cards/result

block instance
    -
        vefa.define('card--result-partner')
            .proxy()
            .data({
                key: 'affiliate',
                labels: {
                    network_yes: 'Active in Network',
                    network_no: 'Inactive in Network'
                }
            })
            .dom_mix({
                element: {
                    class: 'gx--result-affiliate',
                }
            })

            vefa
                .data({
                    title: 'affiliate',
                    slug: 'get_absolute_url',
                    location: 'affiliate_location',
                    students: 'current_data.calculated_total_enrollment',
                    budget: 'current_data.budget_as_range'
                })



block result_overview
    dd.gxi--profile
        include /controls/impt
            -
                vefa.data({
                    url: card.slug.tag(),
                    label: "View Profile"
                })


block result_state
    +if(card.state.io())
        dd.gxi--state.tx--base--f1--100.hl--xy--bTint(
            o-base="row--pStart--sMiddle pad--x25 pad--y10 rhy--xStart25"
            o-condensed="pad--x50"
        )
            span= card.state.tag("us_state")

            for choice, index in choices.location
                +if(`${ card.location.io() } == '${ index }'`)
                    span= `(${choice})`


block result_students
    dd.gxi--students.thm--dark(
        o-base="row--pStart"
    )
        dl.thm--shade25.tx--base--f1--100(
            o-base="row--pStart rhy--xStart25"
        )
            dt.thm--tint15(
                o-base="row--pStart--sMiddle--xAuto mod--static pad--xy25"
                o-condensed="pad--x50"
            )
                = `Total Students: `
            
            dd.tx--400(
                o-base="row--pMiddle--sMiddle--xAuto mod--static pad--xy25"
                o-condensed="pad--x50"
            )= card.students.tag("default_if_none:'0'")


block result_budget
    dd.gxi--budget.thm--dark(
        o-base="row--pStart"
    )
        dl.thm--shade45.tx--base--f1--100(
            o-base="row--pStart rhy--xStart25"
        )
            dt.thm--tint15(
                o-base="row--pStart--sMiddle--xAuto mod--static pad--xy25"
                o-condensed="pad--x50"
            )
                = `Total Budget: `
            
            dd.tx--400(
                o-base="row--pMiddle--sMiddle--xAuto mod--static pad--xy25"
                o-condensed="pad--x50"
            )= `$${ card.budget.tag('intcomma') }`
