include /_django

+load('static')

if prod
    link(
        rel="stylesheet"
        href=static(`css/base.min.css`)
    )

    link(
        rel="stylesheet"
        href=static(`css/app.min.css`)
    )
else
    link(
        rel="stylesheet"
        href=static(`css/base.css`)
    )
    link(
        rel="stylesheet"
        href=static(`css/app.css`)
    )

link(
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Oswald:300,400"
)

if site.supportIE9
    <!--[if IE 9]>
    link(
        rel="stylesheet"
        href=static(`css/app.ie9.css`)
    )
    <![endif]-->

if site.supportIE8
    <!--[if IE 8]>
    link(
        rel="stylesheet"
        href=static(`css/app.ie8.css`)
    )
    <![endif]-->
