include /_django

nav.masthead--nav.thm--dark(
    role="navigation"
    o-base="row--pStart pad--xStart50 ord--start z--masthead"
    o-enhanced="pad--xStart100 pad--xEnd50"
    o-full="gxi--c pad--xy0"
)    
    a.masthead-home(
        href="/"
        target="_top"
        o-base="row--pMiddle--sMiddle--xAuto mod--fit pad--y50 iso--xEndAuto"
        o-condensed="pad--y25"
        o-full="vx--hidden"
    )   
        picture
            source(
                srcset=static("res/logo.full.inverse.png.webp")
                type="image/webp"
            )
            img.site-logo(
                src=static("res/logo.full.inverse.png")
            )
    
    block main_nav
        nav(
            o-base="row--pStart--xAuto"
            o-enhanced="hl--xEnd--bTint"
            o-full="col--pStart hl--xy0 hl--yStart--bTint"
        )
            each instance in nav.primary
                include /navigation/nav-item--static--icon
                    -
                        nav_item
                            .data({
                                route: instance
                            })
                            .dom_mix({
                                element: {
                                    class: "masthead-nav-item hl--xStart--bTint",
                                    "o-full": "hl--xy0 hl--yEnd--bTint"
                                },
                                control: {
                                    class: "masthead-nav-ctrl tx--display--taMiddle--f1--100 fx--shift",
                                },
                            })
