header.masthead--landing.thm--dark(
    role="banner"
    o-base="col--pMiddle--sMiddle vx--hidden"
    o-full="gxi--a vx--shown"
)
    a.masthead-home.rxn--shade40.fx--shift(
        href="/"
        target="_top"
        o-base="row--pMiddle--sMiddle mod--balance"
    )   
        h2.vx--a11y Communities In Schools
        picture
            source(
                srcset=static("res/logo.solo.inverse.png.webp")
                type="image/webp"
            )
            img.site-logo--solo(
                src=static("res/logo.solo.inverse.png")
            )
