extends /site/general

block instance
    -
        vefa.define({
            class: "page--index",
            data: {
                title: "Welcome"
            },
        })
    

block premain
    include /posters/text
        -
            vefa
                .data(
                    { title: site.title }
                )
                .mixin({
                    element: {
                        class: "thm--texture",
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })
            


block content
    nav(
        o-base="gx--i1--gxy0 dx--w100"
        o-condensed="gx--i3--gxy0"
    )
        li.thm--affiliates-shift(
            o-base="col--pStart"
        )
            a.tx--broadside--f1--100.rxn--tint10.fx--shift(
                href=django ? url(routes["affiliates"].slug) : routes["affiliates"].fixture_slug
                o-base="row--pEnd--sEnd mod--balance pad--x50 pad--y100"
                o-enhanced="pad--x100"
                o-full="pad--xy200"
            )
                div(
                    o-base="row--pEnd--sMiddle--xAuto iso--yStart200 rhy--xStart50 ico--l"
                    o-standard="row--pEnd--sEnd ico--base"
                )
                    svg.ico
                        use(href="#ico--affiliates")

                    
                    div(
                        o-base="col--pEnd--sStart--xAuto"
                    )
                        span.tx--hed(
                            o-condensed="tx--subhed"
                        ) Search 
                        span(
                            o-condensed="tx--display"
                        ) Affiliates
        
        li.thm--programs-shift.fx--shift(
            o-base="col--pStart"
        )
            a.tx--broadside--f1--100.rxn--tint10.fx--shift(
                href=django ? url(routes["programs"].slug) : routes["programs"].fixture_slug
                o-base="row--pEnd--sEnd mod--balance pad--x50 pad--y100"
                o-enhanced="pad--x100"
                o-full="pad--xy200"
            )
                
                div(
                    o-base="row--pEnd--sMiddle--xAuto iso--yStart200 rhy--xStart50 ico--l"
                    o-standard="row--pEnd--sEnd ico--base"
                )
                    svg.ico
                        use(href="#ico--programs")

                    
                    div(
                        o-base="col--pEnd--sStart--xAuto"
                    )
                        span.tx--hed(
                            o-condensed="tx--subhed"
                        ) Search 
                        span(
                            o-condensed="tx--display"
                        ) Programs

        li.thm--partners-shift.fx--shift(
            o-base="col--pStart"
        )
            a.tx--broadside--f1--100.rxn--tint10.fx--shift(
                href=django ? url(routes["partners"].slug) : routes["partners"].fixture_slug
                o-base="row--pEnd--sEnd mod--balance pad--x50 pad--y100"
                o-enhanced="pad--x100"
                o-full="pad--xy200"
            )
                div(
                    o-base="row--pEnd--sMiddle--xAuto iso--yStart200 rhy--xStart50 ico--l"
                    o-standard="row--pEnd--sEnd ico--base"
                )   
                    svg.ico
                        use(href="#ico--partners")
                    
                    div(
                        o-base="col--pEnd--sStart--xAuto"
                    )
                        span.tx--hed(
                            o-condensed="tx--subhed"
                        ) Search 
                        span(
                            o-condensed="tx--display"
                        ) Partners

    
    include /strata/strata
        -
            vefa
                .mixin({
                    element: {
                        "o-extended": "col--pMiddle--sMiddle mod--balance"
                    }
                })

        mixin strata_view
            .copy.tx--hed--f1--100.co--pri(
                o-base="rhy--yStart100"
                o-enhanced="dx--w60 iso--xAuto"
            )
                :md
                    Welcome to the CIS Search Tool! This search tool is designed to help CIS staff (i.e. Program Directors, Site Coordinators) find and locate Affiliate offices around the national network, nationally-vetted partnerships, and nationally-vetted Evidence-Based programs that are being delivered with fidelity.
 
                    To begin a search, click on any of the three labeled tabs: Affiliate, Programs, or Partners.
