extends /_vefa
//-------------------
//- BLOCKS:
//-     model
//-     view
//-     prev_active
//-     prev_inactive
//-     next_active
//-     next_inactive
//-     pages
//-     current_active
//-     page
//-     spanner
//-------------------   
block init
    -
        vefa = new Vefa("pagination")
            .data({
                obj: 'abstract',
                page: 'page',
                labels: {
                    prev: 'Previous',
                    next: 'Next'
                },
            })
            .computed({
                has_previous () { return `${ this.obj }.has_previous` },
                has_next () { return `${ this.obj }.has_next` },
                pages () { return `${ this.obj }.pages` },
                current () { return `${ this.page } == ${ this.obj }.number` },
                page_loop () { return `${ this.page } in ${ this.obj }.pages` },
                page_count () { return `${ this.pages }|length > 1` }, 
                prev_q () {
                    let query = `${ this.obj }.previous_page_number.querystring`
                    return `?${ v( query ) }`
                },

                next_q () {
                    let query = `${ this.obj }.next_page_number.querystring`
                    return `?${ v( query ) }`
                },

                page_q () {
                    let query = `${ this.page }.querystring`
                    return `?${ v(query) }`
                }
            })
            .dom({
                element: {
                    class: "tx--small--f2",
                    "o-base": "row--pStart--sMiddle--xAuto",
                },
                group: {
                    "o-base": "row--pStart--sMiddle mod--balance rhy--xStart10 ord--next"
                },
                ctrl: {
                    class: "co--minor fx--shift",
                    "o-base": "row--pMiddle--sMiddle--xAuto mod--static pad--x25 rhy--xStart10 ico--xs"
                }
            })



block instance
    yield



block view
    +if(pagination.page_count)
        nav(
            class=pagination.class
        )&attributes(pagination.element)
            
            +if(pagination.has_previous)
                block prev_active
                    a.page-ctrl--prev.ord--start(
                        href=pagination.prev_q
                    )&attributes(pagination.ctrl)
                        svg.ico
                            use(href=`#ico--ctrl-prev`)
                        span= pagination.labels.prev
                
                +else()
                    block prev_inactive
                        div.page-ctrl--prev.ord--start.is-disabled()&attributes(pagination.ctrl)
                            svg.ico
                                use(href=`#ico--ctrl-prev`)
                            span= pagination.labels.prev
            
            
            +if(pagination.has_next)
                block next_active
                    a.page-ctrl--next.ord--end(
                        href=pagination.next_q
                    )&attributes(pagination.ctrl)
                        span= pagination.labels.next
                        svg.ico
                            use(href=`#ico--ctrl-next`)

                
                +else()
                    block next_inactive
                        div.page-ctrl--next.ord--end.is-disabled()&attributes(pagination.ctrl)
                            span= pagination.labels.next
                            svg.ico
                                use(href=`#ico--ctrl-next`)

            
            
            +if(`${ vefa.obj }.pages`)
                block page_loop
                    div&attributes(pagination.group)
                        +for(pagination.page_loop)
                            +if(pagination.page)
                                +if(pagination.current)
                                    block current_active
                                        div.page-ctrl--current.is-current&attributes(pagination.ctrl)
                                            span= v(pagination.page)
                                    
                                    +else()
                                        block page
                                            a.page-ctrl(
                                                href=pagination.page_q
                                            )&attributes(pagination.ctrl)
                                                span= v(pagination.page)
                                
                                +else()
                                    block spanner
                                        span.page-ctrl--pseudo.is-current()&attributes(pagination.ctrl) ...
