extends /cards/result

block instance
    -
        vefa.define({
            class: 'gx--result-programs',
        })
        .data({
            key: "program",
            labels: {
                network_yes: "Used by CIS Network",
                network_no: false
            }
        })
    
    if django
        -
            vefa.data({
                title: "program",
                slug: 'get_absolute_url',
                overview: 'summary',
                services: 'service_categories',
                ebr: 'evidence_base',
                network: 'network_use',
            })


block result_tier


block result_network
    dd.gxi--network.thm--shade10(
        o-base="row--pStart"
        o-condensed="row--pMiddle--sMiddle pad--xy25"
        o-enhanced="pad--xy50"
    )   

        +if(`${ card.g('network') }.count > 0`)
            div(
                class=card.g('network') ? "thm--partners" : "thm--inactive"
                o-base="row--pStart mod--balance"
                o-condensed="row--pStart--xAuto mod--static"
            )
                span.thm--shade5.tx--small--f1--100--tcU(
                    o-base="mod--balance--aMiddle pad--y10 pad--x25"
                )        
                    = card.g('network') ? card.labels.network_yes :card.labels.network_no
