extends /_vefa

block init
    -
        vefa = new Vefa({
            class: "ico",
            element: {
                "o-base": "mod--static"
            },
            data: {
                title: "", 
            }
        })

        icon_opts = Vefa.get_bus("icon")

        if (icon_opts) {
            vefa.data(icon_opts)
        }



block view
    block defs
    
    block element
        if ico.use_as_symbol
            symbol(
                id=ico.class
                viewBox=ico.viewBox
            )
                if ico.title 
                    title= ico.title
                
                if ico.desc
                    desc= ico.desc

                block bd

        else
            svg.ico(
                class=ico.class
                height="16"
                width="16"
                viewBox=ico.viewBox
                aria-labelledby="title desc"
            )&attributes(ico.element)
                if ico.title 
                    title= ico.title
                
                if ico.desc
                    desc= ico.desc

                block bd
