extends /_vefa

block init
    -
        vefa = new Vefa({
            class: "nav_item",
            data: {
                slug: false,
                url: false,
                target: false,
                text: false,
                show: true,
                active: "is-active"
            },
            methods: {
                get_active_state (active_state) {
                    if (django && this.slug) {
                        return class_switch(`${active_state} in request.path`, this.active)
                    }
                    else {
                        let href = this.get_absolute_url || ""
                        return (active_state && href.includes(active_state.slug)) 
                            ? this.active
                            : "" 
                    }
                },
            },
            computed: {
                get_absolute_url () {
                    if (this.url) {
                        return this.url
                    }
                    else if (this.slug) {
                        return url(this.slug)
                    }
                },
                
            }
        })
    
    //- -
    //-     active = (active_state) => {
    //-         if (django) {
    //-             return class_switch(`request.url == ${navigation.data.url}`, 'is-active')
    //-         }
            
    //-         return 
    //-     }
    //- (page && page.data.slug && page.slug == link.slug) ? "is-active" : false


block view
    if nav_item.show || nav_item.published
        
        if nav_item.slug
            +url(nav_item.slug, 'slug')
        
        li(
            class=nav_item.class
        )&attributes(nav_item.element)
            a(
                class=nav_item.get_active_state('slug')
                href=nav_item.get_absolute_url
                target=nav_item.target
            )&attributes(nav_item.control)
                
                block label
                    span&attributes(nav_item.label)
                        != nav_item.text
