extends _abstract

block subclass
    -
        vefa
            .define({
                class: "page--detail",
                _title_type: 'data_titlebar',
                data: {
                    title: "Detail Template"
                },
                methods: {
                    get (key) {
                        return `${ this.grouping }.${ key }`
                    }
                },
            })


block premain
    include /posters/icon
        -
            poster
                .data({ 
                    title: page.title,
                    icon: page.icon
                })
                .mixin({
                    element: {
                        class: `thm--texture-tint ${page.primary_color}`,
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })
//-         poster
//-             .mix({
//-                 element: {
//-                     class: "thm--texture-tint",
//-                     "o-base": "ord--next",
//-                     "o-extended": "gxi--b"
//-                 }
//-             })
//-             .data({
//-                 hed: page.data.title
//-             })
//-     include /posters/details


prepend view
    - proxy()


block content
    .strata--detail.gx--profile(
        o-base="mod--balance"
    )
    
        section.gxi--a(
            class=page.impact_theme
            o-standard="pad--y100 pad--x25 rhy--yStart100"
        )
            block detail_a

        
        
        section.gxi--b(
            o-base="col--pStart pad--yEnd50 rhy--yStart50"
            o-condensed="pad--xy100"
            o-extended="gx--i2--gxy100 rhy--yStart0"
        )   
            block detail_b



        aside.gxi--c
            include /includes/feedback



block postmain
