extends _abstract

block subclass
    -
        vefa.define("page--detail")
            .proxy()
            .data({
                title: "Detail Template"
            })
            .methods({
                get (key) {
                    return `${ this.grouping }.${ key }`
                }
            })
            .options({
                title_type: 'data',
            })
            


block premain
    include /posters/icon
        -
            poster
                .data({ 
                    title: page.title,
                    icon: page.icon
                })
                .dom_mix({
                    element: {
                        class: `thm--texture-tint ${page.primary_color}`,
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })


block content
    .strata--detail.gx--profile(
        o-base="mod--balance"
    )
        if page && page.icon
            nav.gxi--breadcrumbs.tx--small--f3.hl--yEnd--bTint(
                o-base="row--pStart--sMiddle"
                o-standard="row--pGrid--sMiddle"
            )
                div(
                    o-base="row--pStart--sBase mod--balance pad--xy25 rhy--xStart10"
                    o-standard="row--pStart--sBase pad--x50"
                )
                    a.co--ctrl.fx--shift(
                        href="../"
                        o-base="row--pStart--sMiddle--xAuto rhy--xStart25"
                    )= page.icon.charAt(0).toUpperCase() + page.icon.slice(1)
                    
                    svg.ico.ico--xs
                        use(xlink:href="#ico--ctrl-next")
                    
                    span.tx--trnc()= page.title.tag()
                
                div(
                    o-base="row--pEnd--sMiddle mod--balance"
                )
                    block asset_controls
                        include /controls/download
                            -
                                vefa.data({
                                    file: `../${page.id.tag()}.pdf`,
                                    label: "Report (PDF)",
                                    name: page.title.tag()
                                })
                                .dom_mix({
                                    element: {
                                        class: "tx--small--f3--tcU rxn--ctrl-neutral"
                                    }
                                })

        
        section.gxi--a(
            class=page.impact_theme
            o-base="pad--x25 pad--yStart25 pad--yEnd50 rhy--yStart50"
            o-standard="pad--x50 rhy--yStart100"
        )
            block detail_a

        
        
        section.profile-detail.gxi--b(
            o-base="col--pStart pad--y50 rhy--yStart50"
            o-condensed="pad--x25"
            o-extended="gdx--gc2--gxy50 rhy--yStart0"
        )   
            block detail_b



        aside.gxi--c
            include /includes/feedback



block postmain
