extends _abstract

block subclass
    -
        vefa
            .define({
                class: "page--detail",
                _title_type: 'data_titlebar',
                data: {
                    title: "Detail Template"
                },
                methods: {
                    get (key) {
                        return `${ this.grouping }.${ key }`
                    }
                },
            })


block premain
    include /posters/icon
        -
            poster
                .data({ 
                    title: page.title,
                    icon: page.icon
                })
                .mixin({
                    element: {
                        class: `thm--texture-tint ${page.primary_color}`,
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })


prepend view
    - proxy()


block content
    .strata--detail.gx--profile(
        o-base="mod--balance"
    )
        if page && page.icon
            div.gxi--breadcrumbs.tx--small--f3.thm--shade5.vx--z200(
                o-base="row--pStart--sMiddle"
                o-standard="row--pGrid--sMiddle"
            )
                block asset_controls
            
                nav(
                    o-base="row--pStart--sBase mod--balance pad--xy25 rhy--xStart10"
                    o-standard="row--pEnd--sBase pad--x50"
                )
                    a.co--ctrl.fx--shift(
                        href="../"
                        o-base="row--pStart--sMiddle--xAuto rhy--xStart25"
                    )= page.icon.charAt(0).toUpperCase() + page.icon.slice(1)
                    
                    svg.ico.ico--xs
                        use(xlink:href="#ico--ctrl-next")
                    
                    span.tx--trnc()= poster.title

        
        section.gxi--a(
            class=page.impact_theme
            o-base="pad--x25 pad--y50 rhy--yStart50"
            o-standard="pad--x50 rhy--yStart100"
        )
            block detail_a

        
        
        section.gxi--b(
            o-base="col--pStart pad--y50 rhy--yStart50"
            o-condensed="pad--x25"
            o-extended="gx--i2--gxy25 rhy--yStart0"
        )   
            block detail_b



        aside.gxi--c
            include /includes/feedback



block postmain
