extends _abstract

block subclass
    -
        vefa.define("page--list")
            .data({
                title: "List Template",
                list_type: "programs",
                impact_color: "co--pri",
                impact_theme: "thm--dark",
            })
            .methods({
                get (key) {
                    return `${ this.list_type }.${ key }`
                }
            })

block premain
    include /posters/icon
        -
            poster
                .data({ 
                    title: page.title,
                    icon: page.icon
                })
                .dom_mix({
                    element: {
                        class: `thm--texture-tint ${page.impact_color}`,
                        "o-base": "ord--next",
                        "o-extended": "gxi--b"
                    }
                })


append view
    +load('humanize choice_tags network_search_tags')

block content
    .strata--search(
        o-base="col--pStart mod--balance"
        o-enhanced="gx--search"
    )
        .gxi--a(
            class=`${ page.impact_theme }`
            o-base="col--pStart mod--balance"
        )
            block form
                include /forms/fm--search
        
        
        .gxi--b(
            o-base="mod--fill pad--x25 pad--y50 rhy--yStart100"
            o-condensed="pad--x50"
            o-enhanced="pad--x100 pad--y100 rhy--yStart200"
        )
            +if('not pagination and not few_results or pagination.current < 2')
                .copy.tx--maj--f1--100.co--pri(
                    o-full="dx--w60 iso--xAuto rhy--yStart50"
                )
                    block summary
                    if page.summary
                        != markdown(page.summary)
                    
                hr.thm--shade15(
                    o-base="dx--w60 iso--xAuto"
                )
            
            +if('few_results and few_results_message')
                p.tx--maj--f1--400.co--pri(
                    o-base="pad--xStart50 pad--yStart75 rhy--yStart50"
                )= v('few_results_message')

            
            if page.results_collection
                section.search-river(
                    o-base="rhy--yStart50"
                )

                    include /pagination/default
                        - vefa.data({obj: page.content_type})
                        
                    div(
                        o-base="rhy--yStart100"
                    )
                        block results
                    
                    include /pagination/default
                        - vefa.data({obj: page.content_type})


        
        aside.gxi--c
            include /includes/feedback

block postmain
