extends _abstract

block props
    - 
        page.define({
            title: "List Template",
            list_type: "programs"
        })



block preview
    -
        poster = poster || new Vefa()
        
        poster
            .mix({
                element: {
                    class: "thm--texture-tint",
                    "o-base": "ord--next",
                    "o-extended": "gxi--b"
                }
            })
            .data({
                hed: page.data.title
            })
    include /posters/icon


block view
    .strata--search.gx--search(
        o-base="mod--balance"
    )
        block form
            include /forms/fm--search
        
        div(
            o-base="pad--x25 pad--y50 rhy--yStart100"
            o-enhanced="pad--x100 pad--y100 rhy--yStart200"
        )
            if page.data.summary
                .copy.tx--maj--f1--100.co--pri(
                    o-full="dx--w60 iso--xAuto"
                )
                    != markdown(page.data.summary)
                
                hr.thm--light-alt.hl--yEnd(
                    o-base="dx--w60 iso--xAuto"
                )
            
            if page.data.results_collection
                section(
                    o-base="rhy--yStart50"
                )
                    -
                        pagination = new Vefa()
                            .data({
                                obj: page.data.list_type
                            })
                    include /pagination/default
                        
                    block results
                    
                    -
                        pagination = new Vefa()
                            .data({
                                obj: page.data.list_type
                            })
                    include /pagination/default
