extends /site/detail

block instance
    -
        vefa
            .data({
                key: 'program',
                title: 'program',
                icon: "programs",
                primary_color: "co--programs",
                impact_theme: "thm--programs",
                impact_color: "co--programs",

                overview: 'description',
                services: 'service_categories',
                featured: 'featured_network',
                ebr: 'evidence_base',
                need: 'student_need',
                character: 'student_characteristics',
                //- assessment: 'program.assessment_available',
                //- assessment_info: 'program.assessment_info',
                //- cost: 'program.is_cost_free',
                //- cost_desc: 'program.cost_description',
                
                //- website: 'program.program_weblink',
                //- //- race_other: 'program.race_other',
                //- region_other: 'program.region_other',
                
                //- study_weblink: 'program.study_weblink',
                //- network_use: 'program.network_use',
                
            })

block premain
    div.detail-hdr(
        o-base="col--pStart ord--next"
        o-extended="row--pStart gxi--b"
    )
        include /posters/icon
            -
                vefa.data({ 
                        title: page.title.tag(),
                        icon: page.icon
                })
                .mixin({
                    element: {
                        class: `thm--texture-tint ${page.impact_color}`,
                    }
                })
        
        //- include /cards/ebr
        //-     - vefa.data({ ebr: page.ebr.io() })


block detail_a
    include /cards/data-list--inverse
        -
            vefa
                .data({
                    heading: "Program Information",
                    map: [
                        ["group", "Tiers of Service", page.tiers_of_service.io(), "TiersOfService"],
                        ["group","Region", page.region.io(), "Regions"],
                        ["group","Setting", page.setting.io(), "Setting"],
                        ["text", "Outcomes", page.outcomes.io()],
                        ["mixin", "Associated Fees", "card_fees"],
                        ["mixin", "Assessment", "card_assessment"]
                    ]
                })

        mixin card_fees
            +if(page.is_cost_free.io())
                p Free of Cost
                +else()
                    +if(page.cost_description.io())
                        p(
                            style="word-break:word"
                        )= page.cost_description.tag("safe")
        
        mixin card_assessment
            +if(page.assessment_available.io())
                p Assessment Available
                
                +if(page.assessment_info.io())
                    p= page.assessment_info.tag()
                
                    +else()
                        p N/A


block detail_b
    include /copy/card-lede
        -
            vefa
                .data({
                    heading: "Program Description",
                    copy: page.overview.io()
                })
                .mixin({
                    element: {
                        "o-extended": "gxs--s2"
                    },
                    hed: {
                        class: page.impact_color
                    }
                })

    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart100 rhy--yStart100"
    )
        include /cards/data-list
            -
                vefa
                    .data({
                        heading: "Student Demographics",
                        map: [
                            ["group", "Grade Level", page.grade.io(), "ProgramGrades"],
                            ["group", "Gender", page.gender.io(), "Gender"],
                            ["group", "Race", page.race.io(), "Race"],
                            ["group", "Targeted Student Needs", page.need.io(), "StudentNeeds"],
                            ["group", "Unique Student Characteristics", page.character.io(), "StudentCharacteristics"]
                        ]
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

    
    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart100 rhy--yStart100"
    )
        include /cards/core-services
            -
                vefa
                    .data({
                        heading: "CIS Core Services",
                        services: page.services.io()
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Program Associations",
                        links: [
                            //- ["link", "Test Link", "http://communities.org", "external"],
                            ["single", page.national_partner.io(), "National Partner"],
                            ["group", page.featured.io(), "Featured Network"],
                            ["group", page.network_use.io(), "Affiliate", false, `not in ${ page.featured.io() }`],
                        ], 
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

        include /cards/link-list
            -
                vefa
                    .data({
                        heading: "Additional Resources",
                        links: [
                            ["group", page.national_databases.io(), "National Database", "external"],
                            ["group", page.related_resources.io(), "Resource", "external"],
                            ["group", page.additional_resources.io(), false, "external"],
                        ], 
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })
