extends /results/_abstract

block model
    if item
        - 
            result
                .instance({
                    class: "gx--result-programs",
                })
                .data({
                    title: item.name,
                    slug: '/programs/programs_detail',
                    overview: item.summary,
                    services: item.core_services,
                    network: item.network_use,
                    service_tier: false,
                    ebr: item.evidence_tier,
                })

            labels
                .instance({
                    network_yes: "Used by CIS Network",
                    network_no: false
                })


block result_network
    dd.gxi--network.thm--shade10(
        o-base="row--pStart"
        o-condensed="row--pMiddle--sMiddle pad--xy25"
        o-enhanced="pad--xy50"
    )
        if result.data.network
            div(
                class=result.data.network ? "thm--partners" : "thm--inactive"
                o-base="row--pStart mod--balance"
                o-condensed="row--pStart--xAuto mod--static"
            )
                span.thm--shade5.tx--small--f1--100--tcU(
                    o-base="mod--balance--aMiddle pad--y10 pad--x25"
                )        
                    = result.data.network ? labels.network_yes : labels.network_no


block result_services
    if result.data.services
        dd.gxi--services.thm--dark(
            o-base="col--pStart"
        )
            
            h5.thm--tint10.tx--small--f1--100--tcU(
                o-base="pad--x25 pad--y10 vx--hidden"
                o-condensed="pad--x50 pad--y25 vx--shown"
            ) Core Services

            ul.thm--shade50(
                o-base="col--pStart--sStart mod--balance rhy--yStart10"
                o-compressed="row--pStart--sStart pad--xy25 rhy--xStart25 rhy--yStart0"
                o-standard="rhy--xStart50"
            )
                for icon_type in result.data.services
                    li.co--pri.ico--xl(
                        o-base="pad--xy25"
                    )
                        include /meta/service-icons
