extends /site/detail

block props
    -
        page.data({
            title: 'program',
            icon: "programs",
            overview: 'program.description',
            website: 'program.program_weblink',
            grade: 'program.grade',
            gender: 'program.gender',
            race: 'program.race',
            race_other: 'program.race_other',
            region: 'program.region',
            region_pther: 'program.region_other',
            need: 'program.student_need',
            characteristics: 'program.student_characteristics',
            service_tier: 'program.tiers_of_service',
            setting: 'program.setting',
            ebr: 'program.tiers_of_evidence',
            core_services: 'program.service_categories',
            assessment: 'program.assessment_available',
            assessment_info: 'program.assessment_info',
            cost: 'program.is_cost_free',
            cost_desc: 'program.cost_description',
            outcomes: 'program.outcomes',
            study_weblink: 'program.study_weblink',
            network_use: 'program.network_use',
            featured_network: 'program.featured_network',
        })


prepend preview
    -
        poster = new Vefa()
            .mix({
                element: {
                    class: "co--programs",
                }
            })
            .data({
                contact: {
                    url: page.data.website,
                }
            })


block view
    .strata--detail.gx--detail-programs(
        o-base="mod--balance"
    )
       
        .detail-copy.copy(
            o-base="gxi--a col--pStart pad--yEnd50 rhy--yStart50"
            o-condensed="pad--x25 pad--y50 pad--yStart25"
        )
            -
                card = new Vefa()
                    .data({
                        hed: "Program Description",
                        copy: page.data.overview
                    })
                    .mix({
                        element: {
                            class: "thm--shade5",
                            "o-base": "mod--balance pad--y50",
                        },
                        hed: {
                            class: "co--programs"
                        },
                        bd: {
                            class: "tx--maj"
                        }
                    })
            include /cards/copy

        
        section.thm--programs(
            o-base="gxi--b pad--x25 pad--yEnd100 hy--yStart"
            o-condensed="pad--yEnd25"
            o-standard="pad--xy50"
            o-enhanced="pad--x50"
        )
            header.tx--subhed--f1--100--aa(
                o-base="pad--x25 pad--y25"
                o-condensed="pad--x50"
            )
                h2 Program Details
            
            mixin dd_stat(title, dict, e_num)
                +if(page.data[dict])
                    dt.thm--shade40.tx--small--f3--tcU(
                        o-base="pad--xy25"
                        o-condensed="pad--xy50"
                    )= title
                    dd.thm--shade20.tx--small--f3(
                        o-base="col--pStart--sStart pad--xy25"
                        o-condensed="pad--xy50"
                    )
                        ul(
                            o-base="rhy--yStart25"
                        )
                            +for(`item in ${page.data[dict]}`)
                                li= v('item', `choice_display:'${e_num}'`, 'capfirst')
            
            
            h3.tx--small--f3--900--aa.thm--shade60(
                o-base="pad--xy25 iso--yEnd"
                o-condensed="pad--x50"
            ) Demographics
            dl(
                o-base="gx--i2 iso--yEnd"
                o-standard="gx--i1"
                o-enhanced="gx--i2"
            )
                +dd_stat("Grade Level", "grade", "PartnerGrades")
                +dd_stat("Gender", "gender", "Gender")
                +dd_stat("Race", "race", "Race")
                +dd_stat("Student Characteristics", "characteristics", 'StudentCharacteristics')
                //- +dd_stat("Service Tier", "service_tier")
                
            
            //- h3.tx--small--f3--900--aa.thm--shade60(
            //-     o-base="pad--xy25 iso--yEnd"
            //-     o-condensed="pad--x50"
            //- ) Additional Information
            //- dl(
            //-     o-base="gx--i2 iso--yEnd"
            //-     o-standard="gx--i1"
            //-     o-enhanced="gx--i2"
            //- )
            //-     dt.thm--shade40.tx--small--f3--tcU(
            //-         o-base="pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     ) Outcomes
            //-     dd.thm--shade20.tx--small--f3(
            //-         o-base="col--pStart--sStart pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     )
            //-         ul
            //-             each item in profile.data.outcomes
            //-                 li.tx--small--f3(
            //-                     o-base="col--pStart"
            //-                 )= v(item)    
            //-     +dd_stat("Program Outcomes", "outcomes")
            //-     +dd_stat("Program Reach", "reach")
            //-     +dd_stat("Setting", "setting")
            //-     dt.thm--shade40.tx--small--f3--tcU(
            //-         o-base="pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     ) Assessment
            //-     dd.thm--shade20.tx--small--f3(
            //-         o-base="col--pStart--sStart pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     )
            //-         = profile.data.assessment ? "Available" : "Not available"
            //-     dt.thm--shade40.tx--small--f3--tcU(
            //-         o-base="pad--xy50"
            //-     ) Free of Cost
            //-     dd.thm--shade20.tx--small--f3(
            //-         o-base="col--pMiddle--sStart"
            //-     )
            //-         h5(
            //-             o-base="pad--xy50"
            //-         )= profile.data.free_cost ? "Free" : "Fees Involved"
                    
            //-         +if(profile.data.cost_desc)
            //-             p.thm--shade10.tx--small--f3(
            //-                 o-base="pad--xy50"
            //-             )= profile.data.cost_desc
            
            //- h3.tx--small--f3--900--aa.thm--shade60(
            //-     o-base="pad--xy25 iso--yEnd"
            //-     o-condensed="pad--x50"
            //- ) Community in Schools Stats
            //- dl(
            //-     o-base="gx--i2"
            //-     o-standard="gx--i1"
            //-     o-enhanced="gx--i2"
            //- )   
            //-     dt.thm--shade40.tx--small--f3--tcU(
            //-         o-base="pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     ) EBR
            //-     dd.thm--shade20.tx--small--f3(
            //-         o-base="col--pStart--sStart pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     )
            //-         = choices.evidence_tier[profile.data.evidence_tier]
            //-     dt.thm--shade40.tx--small--f3--tcU(
            //-         o-base="pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     ) Use in Network
            //-     dd.thm--shade20.tx--small--f3(
            //-         o-base="col--pStart--sStart pad--xy25"
            //-         o-condensed="pad--xy50"
            //-     )
            //-         = profile.data.network_use ? "In Network" : "Not in Network"

        
        div.gxi--c.thm--light-alt.hl--yStart--bTint(
            o-condensed="gx--i2--gxy25 pad--xy25"
            o-standard="gx--i2--gxy50 pad--xy50"
        )
            +if(page.data.need)
                section.thm--dark(
                    o-base="col--pStart pad--yEnd100"
                    o-condensed="pad--yEnd0"
                )
                    header.thm--shade20(
                        o-base="pad--x50 pad--y25"
                    )
                        h1.tx--maj--f1--100 Student Needs

                    
                    ul.bd(
                        o-base="mod--balance pad--x25 pad--y25 rhy--yStart25"
                        o-extended="gx--i2--gxy25 mod--static rhy--yStart0"
                    )
                        +for(`item in ${page.data.need}`)
                            li.tx--small--f3(
                                o-base="row--pStart"
                            )   
                                //- span.ico--l.thm--shade20(
                                //-     o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25 pad--y25"
                                //- )
                                //-     include /icons/ccr
                                
                                div.thm--tint10(
                                    o-base="col--pMiddle--sStart mod--balance pad--x25 pad--y25"
                                )
                                    span= v( 'item', "choice_display:'StudentNeeds'" )
            
            
            +if(page.data.core_services)
                section.thm--dark(
                    o-base="col--pStart pad--yEnd100"
                    o-condensed="pad--yEnd0"
                )
                    header.thm--shade20(
                        o-base="mod--static pad--x50 pad--y25"
                    )
                        h1.tx--maj--f1--100 CIS Service Categories

                    ul.bd(
                        o-base="mod--balance pad--x25 pad--y25 rhy--yStart25"
                        o-extended="gx--i2--gxy25 mod--static rhy--yStart0"
                    )
                        +for(`item in ${page.data.core_services}`)
                            li.tx--small--f3(
                                o-base="row--pStart"
                            )
                                span.ico--l.thm--shade20(
                                    o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25 pad--y25"
                                )
                                    - icon_type = 'item'
                                    include /meta/service-icons
                                    

                                div.thm--tint10(
                                    o-base="col--pMiddle--sStart mod--balance pad--x25 pad--y25"
                                )
                                    span= v( 'item', "choice_display:'CoreServices'" )
      
            
//- //-         //-     section.thm--shade20(
//- //-         //-         o-base="col--pStart pad--yEnd100"
//- //-         //-         o-condensed="pad--yEnd0"
//- //-         //-     )
//- //-         //-         header.thm--programs(
//- //-         //-             o-base="pad--x50 pad--y25"
//- //-         //-         )
//- //-         //-             h1.tx--maj--f1--100 Associated Affiliates
                
//- //-         //-         ul.bd(
//- //-         //-             o-base="mod--balance pad--x25 pad--y25 rhy--yStart25"
//- //-         //-         )
//- //-         //-             each item in profile.data.affiliates
//- //-         //-                 li.thm--programs(
//- //-         //-                     o-base="col--pStart"
//- //-         //-                 )
//- //-         //-                     a.tx--small--f3.thm--tint50.rxn--tint75.fx--shift(
//- //-         //-                         href="/affiliates/affiliate_detail"
//- //-         //-                         target="_blank"
//- //-         //-                         o-base="row--pStart--sMiddle rhy--xStart25"
//- //-         //-                     )
//- //-         //-                         span.ico--l.thm--shade20(
//- //-         //-                             o-base="col--pMiddle--sMiddle--xAuto mod--static pad--xy25"
//- //-         //-                         )
//- //-         //-                             include /icons/affiliates
//- //-         //-                         span.co--programs.tx--900(
//- //-         //-                             o-base="pad--xy25"
//- //-         //-                         )= v(item)
//- //-         //-                         span.thm--tint25.tx--caption--tcU(
//- //-         //-                             o-base="pad--x25 pad--y10 iso--xStartAuto iso--xEnd25"
//- //-         //-                         ).
//- //-         //-                             Profile Available
//- //-         //-         footer(
//- //-         //-            o-base="row--pEnd--sMiddle"
//- //-         //-         )
//- //-         //-             -
//- //-         //-                 ctrl = new Vefa()
//- //-         //-                     .data({
//- //-         //-                         name: "search",
//- //-         //-                         label: "Full Affiliate List"
//- //-         //-                     })
//- //-         //-             include /controls/submit
