extends /page_types/detail

block instance
    -
        vefa
            .data({
                title: 'program',
                icon: "programs",
                primary_color: "co--programs",

                grouping: 'program',
                overview: 'program.description',
                website: 'program.program_weblink',
                grade: 'program.grade',
                gender: 'program.gender',
                race: 'program.race',
                race_other: 'program.race_other',
                region: 'program.region',
                region_other: 'program.region_other',
                need: 'program.student_need',
                characteristics: 'program.student_characteristics',
                service_tier: 'program.tiers_of_service',
                setting: 'program.setting',
                ebr: 'program.tiers_of_evidence',
                core_services: 'program.service_categories',
                assessment: 'program.assessment_available',
                assessment_info: 'program.assessment_info',
                cost: 'program.is_cost_free',
                cost_desc: 'program.cost_description',
                outcomes: 'program.outcomes',
                study_weblink: 'program.study_weblink',
                network_use: 'program.network_use',
                featured_network: 'program.featured_network',
            })

//- block premain
    div.bk(
        o-base="row--pStart"
        o-extended="gxi--b"
    )
        //- include /posters/icon
        //-     -
        //-         poster
        //-             .data({ 
        //-                 title: page.title,
        //-                 icon: page.icon
        //-             })
        //-             .mixin({
        //-                 element: {
        //-                     class: `thm--texture-tint ${page.primary_color}`,
        //-                     "o-base": "ord--next",
        //-                     "o-extended": "gxi--b"
        //-                 }
        //-             })
        //- .thm--dark
        //-     include /cards/ebr
        //-         - vefa.data({ ebr: page.ebr })
    //- prepend preview
    //-     -
    //-         poster = new Vefa()
    //-             .mix({
    //-                 element: {
    //-                     class: "co--programs",
    //-                 }
    //-             })
    //-             .data({
    //-                 contact: {
    //-                     url: page.data.website,
    //-                 }
    //-             })


block content
    .strata--detail.gx--detail-programs(
        o-base="mod--balance"
    )
        section.thm--programs.gxi--a(
            o-standard="pad--yStart100 pad--x25"
        )   
            include /cards/data_map
                -
                    vefa
                        .data({
                            header: "Program Information",
                            map: [
                                ["Tiers of Service", page.get("tiers_of_service"), "TiersOfService"],
                                ["Program Region", page.get("region"), "Regions"],
                                ["Program Setting", page.get("setting"), "Setting"],
                                ["Program Outcomes", page.get("outcomes"), "Outcomes"],
                            ], 
                            as_text: ["Outcomes"],
                            impact_color: "co--programs",
                            impact_theme: "thm--programs",
                        })
                    
                mixin card_list
                    dt&attributes(card.key) Associated Fees
                    +if(page.get("is_cost_free"))
                        dt&attributes(card.value) Free of Cost
                        +else()
                            dt&attributes(card.value)
                                +if(page.get("cost_description"))
                                    p= v(page.get("cost_description", "safe"))
                    
                    +if(page.get("assessment"))
                        dt&attributes(card.key) Assessment Available
                        dt&attributes(card.value)
       
        section.gxi--b(
            o-base="col--pStart pad--yEnd50 rhy--yStart50"
            o-condensed="pad--xy100"
            o-extended="gx--i2--gxy100 rhy--yStart0"
        )
            -
                card_style = {
                    hdr: {
                        class: "thm--programs",
                        "o-base": "mod--static pad--x50 pad--y25"
                    },
                    hed: {
                        class: "tx--maj--f1--100"
                    },
                    bd: {
                        class: "thm--shade15",
                        "o-base": "mod--balance pad--xy25 rhy--yStart25",
                        "o-extended": "gx--i3--gxy10 mod--static rhy--yStart0"
                    },
                    key: {
                        class: `thm--programs tx--small--f3--tcU`,
                        "o-base": "pad--xy25",
                        "o-condensed": "pad--xy50"
                    },
                    value: {
                        class: `thm--tint70 co--programs tx--f3`,
                        "o-base": "col--pStart--sStart pad--xy25",
                        "o-condensed": "pad--xy50 gxs--s2"
                    },
                }

            include /cards/copy
                -
                    vefa
                        .data({
                            heading: "Program Description",
                            copy: page.overview
                        })
                        .mixin({
                            element: {
                                class: "thm--shade5",
                                "o-base": "mod--static pad--y50",
                                "o-extended": "gxs--s2"
                            },
                            hed: {
                                class: "co--programs"
                            },
                            bd: {
                                class: "tx--maj"
                            }
                        })
            
            
            include /cards/data_map
                -
                    vefa
                        .data({
                            header: "Student Demographics",
                            style_type: "alt",
                            map: [
                                ["Grade Level", page.get("grade"), "PartnerGrades"],
                                ["Gender", page.get("gender")],
                                ["Race", page.get("race")],
                                ["Student Need", page.get("student_need"), "StudentNeeds"],
                                ["Student Characteristics", page.get("student_characteristics"), "StudentCharacteristics"]
                            ]
                        })
                        .mixin(card_style)

            section(
                o-base="col--pStart rhy--yStart100"
            )

                article.card(o-base="col--pStart")
                    header&attributes(card_style.hdr)
                        h1&attributes(card_style.hed) CIS Core Services

                    ul.bd(
                        class="thm--shade15"
                        o-base="mod--balance pad--x25 pad--y25 rhy--yStart25"
                        o-extended="gx--i2--gxy50 rhy--yStart0"
                    )
                        +for(`item in ${page.core_services}`)
                            li.thm--programs.tx--f2(
                                o-base="row--pStart"
                            )
                                span.ico--l.thm--shade20(
                                    o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25 pad--y25"
                                )
                                    svg.ico
                                        use(href=`#ico--${ v("item") }`)
                                    

                                div.thm--tint10.tx--f3(
                                    o-base="col--pMiddle--sStart mod--balance pad--x25 pad--y25"
                                )
                                    span= v( 'item', "choice_display:'CoreServices'" )


                
                article.card(
                    o-base="col--pStart"
                )
                    header&attributes(card_style.hdr)
                        h1&attributes(card_style.hed) Program Associations
                    
                    ul.bd(
                        class="thm--shade15"
                        o-base="mod--balance pad--x25 pad--y25 rhy--yStart25"
                    )
                        +if(page.get("national_partner"))
                            li.thm--programs.tx--f3
                                a.rxn--tint10.fx--shift(
                                    o-base="row--pStart"
                                    href=v(`${ page.get("national_partner") }.get_absolute_url`)
                                )
                                    span.ico--l.thm--shade20(
                                       o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25 pad--y25"
                                    )
                                        svg.ico
                                            use(href=`#ico--partners`)
                                    
                                    span.thm--tint10(
                                        o-base="row--pStart--sMiddle mod--balance pad--x25"
                                    )= v(page.get("national_partner"))
                                    
                                    small.thm--tint10.tx--chrome--f3--tcU(
                                        o-base="row--pStart--sMiddle pad--x25"
                                    ) National&nbsp;Partner

                        
                        +for("item in program.featured_network.all")
                            li.thm--programs.tx--f3
                                a.rxn--tint10.fx--shift(
                                    o-base="row--pStart"
                                    href=v('item.get_absolute_url')
                                )
                                    span.ico--l.thm--shade20(
                                       o-base="col--pMiddle--sMiddle--xAuto mod--static pad--x25 pad--y25"
                                    )
                                        svg.ico
                                            use(href=`#ico--affiliates`)
                                    
                                    span.thm--tint10(
                                        o-base="row--pStart--sMiddle mod--balance pad--x25"
                                    )= v('item')
                                    
                                    small.thm--tint10.tx--chrome--f3--tcU(
                                        o-base="row--pStart--sMiddle pad--x25"
                                    ) Featured&nbsp;Network
                
                article.card(
                    o-base="col--pStart  mod--balance"
                )
                    header&attributes(card_style.hdr)
                        h1&attributes(card_style.hed) Additional Resources
                    
                    ul.bd(
                        class="thm--shade15"
                        o-base="mod--balance pad--x25 pad--y25 rhy--yStart25"
                    )
                        +for("item in program.national_databases.all")
                            li.thm--programs.tx--f3
                                a.thm--tint15.rxn--shade10.fx--shift(
                                    href=v('item.url')
                                    o-base="row--pGrid--sMiddle pad--xy25"
                                )
                                    span
                                        = v('item')
                                        svg.ico
                                            use(href=`#ico--link-ext`)
                                    small.tx--chrome--f3--tcU National Database
                        
                        +for("item in program.related_resources.all")
                            li.thm--programs.tx--f3
                                a.thm--tint15.rxn--shade10.fx--shift(
                                    href=v('item.url')
                                    o-base="row--pGrid--sMiddle pad--xy25"
                                )
                                    span
                                        = v('item')
                                        svg.ico
                                            use(href=`#ico--link-ext`)
                                    small.tx--chrome--f3--tcU Resource

                        +for("item in program.additional_resources.all")
                            li.thm--programs.tx--f3
                                a.thm--tint15.rxn--shade10.fx--shift(
                                    href=v('item.url')
                                    o-base="row--pStart--sMiddle pad--xy25"
                                )
                                    = v('item')
                                    svg.ico
                                        use(href=`#ico--link-ext`)
