extends icon

append model
    -
        poster
            .replace({
                class: "poster--details gx--poster",
                ftr: {
                    "o-base": "gxi--c"
                }
            })
            .instance({
                contact: {
                    url: false,
                    name: false,
                    title: false,
                    email: false,
                }
            })



block ftr
    if poster.data.contact
        - contact = poster.data.contact

        dl.contactinfo--inline.tx--f3--100.co--minor.hl--yStart--bTint(
            o-base="gxi--c col--pStart pad--yStart25 iso--yStart25"
            o-standard="row--pStart rhy--xStart25 tx--small iso--yStart0"
            o-full="pos--abs"
        )
            if contact.name
                +if(contact.name)
                    dt.contactinfo-item--name(
                        o-base="col--pStart--xAuto"
                        o-standard="row--pStart--xAuto pad--xEnd25 hl--xEnd--bTint"
                    )
                        span.tx--700.co--copy!= v(contact.name)
                        
                        +if(contact.title)
                            != ',&nbsp;'
                            i= v(contact.title)
            
            if contact.email
                +if(contact.email)
                    dd(
                        o-standard="pad--xEnd25 hl--xEnd--bTint"
                    )
                        a.contactinfo-item--email.co--minor.fx--shift(
                            href="mailto:#{ v(contact.email) }"
                            target="_top"
                            
                        )
                            = v(contact.email)
            if contact.state
                +if(contact.state)
                    dd(
                        o-standard="pad--xEnd25 hl--xEnd--bTint"
                    )
                        span.co--copy.tx--900--tcU
                            = v(contact.state, "us_state")
            
            if contact.location
                +if(contact.location)
                    dd(
                        o-standard="pad--xEnd25 hl--xEnd--bTint"
                    )
                        if django
                            for choice, index in choices.location
                                +if(`${ contact.location } == '${ index }'`)
                                    span= choice
            
            if contact.url
                +if(contact.url)
                    dd()
                        a.contactinfo-item--url.co--minor.fx--shift(
                            href=v(contact.url)
                            target="_blank"
                            o-base="row--pStart--sMiddle rhy--xStart10"
                        ) 
                            span Website
                            include /icons/link-ext
                

            