extends /_abstract

block model
    -
        form_fieldset = new Vefa()
            .define({
                legend: {
                    class: "fm-fieldset-legend"
                }
            })
        
        if (fieldset) {
            form_fieldset
                .data(fieldset)
        }
    
block pre_view
    - form_fieldset = form_fieldset.$freeze()



block view
    -   
        let folded_attrs = {
            is: "fold-unfold",
            "init": form_fieldset.data.folded,
            title: form_fieldset.data.name,
            styles: "tx--subhed--f1--100 rxn--shade20 fx--shift",
            "v-cloak": true
        }
        
        folded_attrs = (form_fieldset.data.folded)
            ? folded_attrs
            : {}
        

    fieldset.fm-fieldset(
        o-base="iso--yStart25"
    )&attributes(folded_attrs)

        if form_fieldset.data.folded
            span(slot="icon-open")
                include /icons/menu
            span(slot="icon-close")
                include /icons/menu-close

        
        div(
            slot="bd"
            o-base="pad--x25 iso--yStart50"
            o-standard="pad--x100 rhy--yStart100"
        )&attributes(form_fieldset.bd)

            if form_fieldset.data.fields
                for field, inner_index in form_fieldset.data.fields
                    case field.type
                        when "text" 
                            include /forms/fields/fm-field--text
                        
                        when "multi"
                            include /forms/fields/fm-field--multi
                        
                        when "single"
                            include /forms/fields/fm-field--single
                        
                        when "single_null"
                            include /forms/fields/fm-field--single-null

                        //- when "bool"
                        //-     include /forms/fields/fm-field--bool
                        
                        when "multi_icon"
                            include /forms/fields/fm-field--multi-icon

                        //- when "multi_block"
                        //-     include /forms/fields/fm-field--multi-block

                        //- when "single_block"
                        //-     include /forms/fields/fm-field--single-block

                        default
                            div


    hr.thm--shade20(
        o-base="pad--x25 iso--yStart25"
        o-standard="pad--x100"
    )



block post_view
    - form_fieldset = form_fieldset.$thaw()
