extends _abstract

block component
    -
        vefa.define({
            class: "fm-field--single",
            data: {
                type: "radio",
                choice: {
                    label: 'choice_label',
                    value: 'choice_value'
                },
                index: 'forloop.counter'
            },
            computed: {
                choices () {
                    return `choice_value, choice_label in form.${this.name}.field.choices`
                },
                input_attrs () {
                    return {
                        type: this.type,
                        id: this.uid,
                        name: this.name,
                        value: v(this.choice.value),
                        "o-base": "mod--static",
                    }
                }
            },
            //- control: {
            //-     class: "tx--small--f3--100--ls100 rhy--xStart50 rxn--shade60 fx--shift ico--xl",
            //-     "o-base": "row--pStart--sBase pad--x50 pad--y25 rhy--xStart25",
            //- }, 
            //- control_label: {
            //-     "o-base": "mod--balance"
            //- },
            //- control_group: {
            //-     class: "thm--shade20",
            //-     "o-base": "col--pStart--sStart"
            //- }
        })



block hdr
    p&attributes(field.field_label)
        = field.label



block bd
    //- come back to this, as we aren't using this now
    //- if choices[field.name]
    div(slot="bd")&attributes(field.field_group)
        +for(field.choices)
            
            block choices
                block input_ext

                label(
                    for=field.uid
                    v-check="true"
                )&attributes(field.field_control)
                    
                    block input_int
                        +ifequal(`form.${field.name}.value`, 'choice_value')
                            input(checked=true)&attributes(field.input_attrs)
                            
                            +else()
                                input&attributes(field.input_attrs)

                    span(
                        o-base="mod--balance"
                    )
                        = v(field.choice.label)
