extends _abstract

block model
    -
        form_field
            .instance({
                class: "fm-field--multi",

                label: {
                    "o-base": "mod--balance"
                },
                control: {
                    class: "rxn--shade60 fx--shift",
                    "o-base": "row--pStart--sStart mod--balance pad--y25 rhy--xStart25",
                }
            })



block hdr
    p.field-label--multi&attributes(form_field.label)
        = form_field.data.label


block bd
    if choices[form_field.data.name]
        div&attributes(form_field.group)

            +for(`choice_value, choice_label in form.${form_field.data.name}.field.choices`)
                -
                    input_attrs = {
                        type: "checkbox",
                        id: `id_${ form_field.data.name }_${ v('forloop.counter') }`,
                        "o-base": "mod--static",
                        name: form_field.data.name,
                        value: v('choice_value')
                    }
                    
                    _field_val = `form.${ form_field.data.name }.value`
                
                block input_ext
                
                label.field-label--multi&attributes(form_field.control)
                    block input_int
                        +if(`choice_value|safe in ${ _field_val } or choice_value in ${ _field_val }`)
                            input(checked=true)&attributes(input_attrs)
                    
                            +else()
                                input&attributes(input_attrs)
                    
                    block label
                        span&attributes(form_field.label)  
                            = v('choice_label')
