extends _abstract

block model
    -
        form_field
            .define({
                class: "fm-field--radio",
                container: {
                    class: "rxn--shade20 fx--shift",
                    "o-base": "row--pStart--sMiddle mod--balance pad--y25 rhy--xStart25",
                },
                label: {
                    class: "field-label--bool",
                    "o-base": "mod--balance"
                }
            })



block hdr
    p&attributes(form_field.label)
        = form_field.data.label


block bd
    //- =v('form.use_in_network.value')
    //- =v('form.free_of_cost.value')
    if choices[form_field.data.name]
        div()
            for choice, _index in choices[form_field.data.name]
                label&attributes(form_field.container)
                    - 
                        val = _index.toString()
                        val = (val == 'true' || val == 'false')
                            ? val.toString().charAt(0).toUpperCase()+_index.substring(1)
                            : val

                        input_attrs = {
                            type: "radio",
                            id: `id_${ form_field.data.name }_${_index}`,
                            name: form_field.data.name,
                            value: val,
                        }
                    
                    +if(`form.${form_field.data.name}.value \=\= ${ val }`)
                        input(checked=true)&attributes(input_attrs)
                        
                        +else()
                            input&attributes(input_attrs)

                    span&attributes(form_field.label)
                        = choice
