extends _abstract

block model
    -
        form_field
            .define({
                class: "fm-field--text",
            })


block bd
    input(
        type="text"
        id=`id_${ form_field.data.name }`
        value=v(`form.${ form_field.data.name }.value`, "stringformat:'s'")
        name=form_field.data.name
    )&attributes(form_field.field)
