extends /site/detail

block instance
    -
        page.data({
            key: 'affiliate',
            title: 'affiliate',
            icon: "affiliates",
            impact_theme: "thm--affiliates",
            impact_color: "co--affiliates",
            
            location: 'affiliate_location',
            director_name: 'current_data.executive_director_name',
            director_email: 'current_data.executive_director_email',
            lead_name: 'current_data.program_lead_name',
            lead_email: 'current_data.program_lead_email',
        })


block premain
    include /posters/icon
        -
            vefa.data({ 
                    title: page.title.tag(),
                    icon: page.icon
            })
            .mixin({
                element: {
                    class: `thm--texture-tint ${page.impact_color}`,
                    "o-base":"ord--next",
                    "o-extended": "gxi--b"
                }
            })


block asset_controls
    div(
        o-base="row--pStart--sMiddle mod--balance"
    )
        +if(page.website.io())
            include /controls/action
                -
                    vefa.data({
                        url: page.website.io(),
                        label: `Website`
                    })
                    .define({
                        element: {
                            class: "tx--small--f3 rxn--ctrl-impt fx--shift"
                        }
                    })

        include /controls/download
            -
                vefa.data({
                    file: `../${page.id.tag()}.pdf`,
                    label: "Download PDF report",
                    name: page.title.tag()
                })
                .define({
                    element: {
                        class: "tx--small--f3 rxn--ctrl-download fx--shift"
                    }
                })


block detail_a
    include /cards/data-list--inverse
        -
            vefa
                .data({
                    heading: `Affiliate <small class="tx--small--t2--400">#${page.cis_id.tag()}</small>`,
                    map: [
                        ["mixin", "Executive Director", "card_exec"],
                        ["mixin", "Program Lead", "card_lead"],
                        ["text", "Location", page.location.io(), page.location.tag("choice_display:'AffiliateLocation'", 'capfirst')],
                        ["mixin", "Address", "card_contact"],
                        ["text", "Phone Number", page.phone_number.io()],
                        ["text", "Fax Number", page.fax_number.io()],
                        ["link", "Website", page.website.io(), page.title.tag()]                     
                    ],
                })

        mixin card_contact
            ul
                li= page.address_street.tag()
                li= `${ page.address_city.tag() }, ${ page.address_state.tag() } ${ page.address_postcode.tag() }`
        
        mixin card_exec
            ul
                li= page.director_name.tag()
                li
                    a.tx--tdU.fx--shift(
                        href=`mailto:${ page.director_email.tag() }`
                    )
                        = page.director_email.tag()
        
        mixin card_lead
            ul
                li= page.lead_name.tag()
                li
                    a.tx--tdU.fx--shift(
                        href=`mailto:${ page.lead_email.tag() }`
                    )
                        = page.lead_email.tag()


block detail_b
    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart100 rhy--yStart100"
    )
        include /cards/data-list
            -
                vefa
                    .data({
                        heading: "Affiliate Resources",
                        map: [
                            ["money", "Annual Budget", 'eoy_data.budget_total'],
                            ['pct', 'Pct of Public Funding', 'eoy_data.budget_total and eoy_data.funding_public', v('eoy_data.funding_percent_public')],
                            ['pct', 'Pct of Private Funding', 'eoy_data.budget_total and eoy_data.funding_private', v('eoy_data.funding_percent_private')],
                        ]
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })
        
        include /cards/data-list
            -
                vefa
                    .data({
                        heading: "Affiliate Case Management Performance",
                        map: [
                            ['heading', 'Students in Grades K—11', 'eoy_data.students_k_11_promoted'],
                            ['text', 'Promoted', 'eoy_data.students_k_11_promoted'],
                            ['text', 'Retained', 'eoy_data.students_k_11_retained'],
                            ['text', 'Dropped Out', 'eoy_data.students_k_11_dropped_out'],
                            ['text', 'Transferred', 'eoy_data.students_k_11_transferred'],
                            ['text', 'GED', 'eoy_data.students_k_11_ged'],
                            ['text', 'Expelled', 'eoy_data.students_k_11_expelled'],
                            ['text', 'Incarcerated', 'eoy_data.students_k_11_incarcerated'],
                            ['text', 'Deceased', 'eoy_data.students_k_11_deceased'],
                            ['text', 'Other', 'eoy_data.students_k_11_other'],
                            ['text', 'Unknown', 'eoy_data.students_k_11_unknown'],
                            
                            ['heading', 'Students in Grade 12', 'eoy_data.students_grade_12_graduated'],
                            ['text', 'Graduated', 'eoy_data.students_grade_12_graduated'],
                            ['text', 'Retained', 'eoy_data.students_grade_12_retained'],
                            ['text', 'Dropped Out', 'eoy_data.students_grade_12_dropped_out'],
                            ['text', 'Transferred', 'eoy_data.students_grade_12_transferred'],
                            ['text', 'GED', 'eoy_data.students_grade_12_ged'],
                            ['text', 'Expelled', 'eoy_data.students_grade_12_expelled'],
                            ['text', 'Incarcerated', 'eoy_data.students_grade_12_incarcerated'],
                            ['text', 'Deceased', 'eoy_data.students_grade_12_deceased'],
                            ['text', 'Other', 'eoy_data.students_grade_12_other'],
                            ['text', 'Unknown', 'eoy_data.students_grade_12_unknown'],
                        ]
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

        
    div(
        o-base="col--pStart pad--x25 rhy--yStart50"
        o-extended="iso--yStart100 rhy--yStart100"
    )
        include /cards/data-list
            -
                vefa
                    .data({
                        heading: "School District Details",
                        map: [
                            ["group", "School District(s)", 'eoy_data.school_districts'],
                            ["text", "Total Enrollment", 'eoy_data.calculated_total_enrollment'],
                            ["text", "Number of Case-managed Students", 'eoy_data.calculated_total_case_managed'],
                            ["text", "Total Students Reached", 'eoy_data.calculated_total_students_reached'],
                            ["heading", "Affiliate Staffing"],
                            ["text", "Full-time", 'eoy_data.full_time_staff'],
                            ["text", "Part-time", 'eoy_data.part_time_staff'],
                            ["text", "Americorps", 'eoy_data.americorps_staff'],
                        ]
                    })
                    //- .define({
                    //-     data_key: {
                    //-         "o-condensed": "pad--x50 gxs--s2"
                    //-     },
                    //-     data_value: {
                    //-         "o-condensed": "pad--x50"
                    //-     }
                    //- })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

        include /cards/data-list
            -
                vefa
                    .data({
                        heading: "By Race and Gender",
                        map: [
                            ['heading', 'Students By Race/ Ethnicity', 'eoy_data.search_race'],
                            ['text', 'American Indian', 'eoy_data.search_students_american_indian'],
                            ['text', 'Asian', 'eoy_data.search_students_asian'],
                            ['text', 'Black', 'eoy_data.search_students_black'],
                            ['text', 'Hispanic', 'eoy_data.search_students_hispanic'],
                            ['text', 'White', 'eoy_data.search_students_white'],
                            ['text', 'Two or More', 'eoy_data.search_students_two_or_more'],
                            ['text', 'Other', 'eoy_data.search_students_other'],
                            ['heading', 'Students By Gender', 'eoy_data.search_gender'],
                            ['text', 'Male', 'eoy_data.search_students_male'],
                            ['text', 'Female', 'eoy_data.search_students_female']
                        ]
                    })
                    .mixin({
                        element: {
                            class: "vx--z100"
                        }
                    })

        +if('eoy_data.total_students_served > 0')
            include /cards/data-list
                -
                    vefa
                        .data({
                            heading: "Unique Student Characteristics",
                            map: [
                                ['yesno', 'FRPL Eligible Students Served', 'eoy_data.total_students_frpl > 0'],
                                ['yesno', 'ELL Students Served', 'eoy_data.total_students_ell > 0'],
                                ['yesno', 'Foster Care/Group Home', 'eoy_data.total_students_foster > 0'],
                                ['yesno', 'Homeless Youth', 'eoy_data.total_students_homeless > 0'],
                                ['yesno', 'LGBT', 'eoy_data.total_students_lgbt > 0'],
                                ['yesno', 'Pregnant/Parenting', 'eoy_data.total_students_pregnant_parenting > 0'],
                                ['yesno', 'Special Education', 'eoy_data.total_students_special_education > 0'],
                                ['yesno', 'Substance Abuse', 'eoy_data.total_students_substance_abuse > 0'],
                                ['yesno', 'Adjudicated Youth', 'eoy_data.total_students_adjudicated_youth > 0'],
                                ['yesno', 'Child of Military', 'eoy_data.total_students_child_of_military > 0'],
                                ['yesno', 'Gang Involvement', 'eoy_data.total_students_gang > 0'],
                                ['yesno', 'Incarcerated Parent', 'eoy_data.total_students_incarcerated_parent > 0'],
                            ]
                        })
                        //- .define({
                        //-     data_key: {
                        //-         "o-condensed": "pad--x50 gxs--s2"
                        //-     },
                        //-     data_value: {
                        //-         "o-condensed": "pad--x50"
                        //-     }
                        //- })
                        .mixin({
                            element: {
                                class: "vx--z100"
                            }
                        })

            
        